- hosts: localhost
  gather_facts: no
  connection: local
  tasks:
  - name: Configure Node 1 SRv6 Policies LOOP
    netconf_config:
      host: node1
      port: 2831
      hostkey_verify: no
      username: admin
      password: admin
      xml: |
        <config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
          <segment-routing xmlns="http://cisco.com/ns/yang/oc-srte-policy">
            <traffic-engineering>
              <named-segment-lists>
                <named-segment-list>
                  <name>dead::1:1-1</name>
                  <config>
                    <name>dead::1:1-1</name>
                  </config>
                  <segments>
                    <segment>
                      <index>1</index>
                      <config>
                        <index>1</index>
                        <type>type-2</type>
                        <sid-value>fd22::100</sid-value>
                      </config>
                    </segment>
                    <segment>
                      <index>2</index>
                      <config>
                        <index>2</index>
                        <type>type-2</type>
                        <sid-value>fd33::100</sid-value>
                      </config>
                    </segment>
                    <segment>
                      <index>3</index>
                      <config>
                        <index>3</index>
                        <type>type-2</type>
                        <sid-value>fd11::100</sid-value>
                      </config>
                    </segment>
                    <segment>
                      <index>4</index>
                      <config>
                        <index>4</index>
                        <type>type-2</type>
                        <sid-value>dead::1:2</sid-value>
                      </config>
                    </segment>
                  </segments>
                </named-segment-list>
                <named-segment-list>
                  <name>dead::1:2-1</name>
                  <config>
                    <name>dead::1:2-1</name>
                  </config>
                  <segments>
                    <segment>
                      <index>1</index>
                      <config>
                        <index>1</index>
                        <type>type-2</type>
                        <sid-value>fd22::100</sid-value>
                      </config>
                    </segment>
                    <segment>
                      <index>2</index>
                      <config>
                        <index>2</index>
                        <type>type-2</type>
                        <sid-value>fd33::100</sid-value>
                      </config>
                    </segment>
                    <segment>
                      <index>3</index>
                      <config>
                        <index>3</index>
                        <type>type-2</type>
                        <sid-value>fd11::100</sid-value>
                      </config>
                    </segment>
                    <segment>
                      <index>4</index>
                      <config>
                        <index>4</index>
                        <type>type-2</type>
                        <sid-value>dead::1:2</sid-value>
                      </config>
                    </segment>
                  </segments>
                </named-segment-list>
                <named-segment-list>
                  <name>dead::2-1</name>
                  <config>
                    <name>dead::2-1</name>
                  </config>
                  <segments>
                    <segment>
                      <index>1</index>
                      <config>
                        <index>1</index>
                        <type>type-2</type>
                        <sid-value>fd22::100</sid-value>
                      </config>
                    </segment>
                    <segment>
                      <index>2</index>
                      <config>
                        <index>2</index>
                        <type>type-2</type>
                        <sid-value>fd33::100</sid-value>
                      </config>
                    </segment>
                    <segment>
                      <index>3</index>
                      <config>
                        <index>3</index>
                        <type>type-2</type>
                        <sid-value>fd11::1:dead</sid-value>
                      </config>
                    </segment>
                  </segments>
                </named-segment-list>
              </named-segment-lists>
              <policies>
                <policy>
                  <config>
                    <name>dead::1:1</name>
                    <color>1</color>
                    <endpoint>fd20::20</endpoint>
                  </config>
                  <color>1</color>
                  <endpoint>fd20::20</endpoint>
                  <candidate-paths>
                    <candidate-path>
                      <name>candidatePath1</name>
                      <provisioning-method>provisioning-method-config</provisioning-method>
                      <preference>1</preference>
                      <distinguisher>0</distinguisher>
                      <config>
                        <name>candidatePath1</name>
                        <provisioning-method>provisioning-method-config</provisioning-method>
                        <computation-method>path-explicitly-defined</computation-method>
                        <preference>1</preference>
                        <distinguisher>0</distinguisher>
                      </config>
                      <binding-sid>
                        <config>
                          <alloc-mode>explicit</alloc-mode>
                          <type>srv6</type>
                          <value>dead::1:1</value>
                        </config>
                      </binding-sid>
                      <segment-lists>
                        <segment-list>
                          <name>dead::1:1-1</name>
                          <config>
                            <name>dead::1:1-1</name>
                            <weight>4</weight>
                          </config>
                        </segment-list>
                      </segment-lists>
                    </candidate-path>
                  </candidate-paths>
                  <autoroute-include>
                    <config>
                      <metric-type>constant</metric-type>
                      <metric-constant>0</metric-constant>
                    </config>
                    <prefixes>
                      <config>
                        <prefixes-all>false</prefixes-all>
                      </config>
                      <prefix>
                        <ip-prefix>fd20::/127</ip-prefix>
                        <config>
                          <ip-prefix>fd20::/127</ip-prefix>
                        </config>
                      </prefix>
                    </prefixes>
                  </autoroute-include>
                  <binding-sid>
                    <config>
                      <alloc-mode>explicit</alloc-mode>
                      <type>srv6</type>
                      <value>dead::1:1</value>
                    </config>
                  </binding-sid>
                  <vpp-sr-policy xmlns="urn:hc2vpp:params:xml:ns:yang:vpp-oc-srte-policy">
                    <config>
                      <policy-type>Default</policy-type>
                      <policy-behavior>Encapsulation</policy-behavior>
                      <table-id>0</table-id>
                      <address-family xmlns:x="urn:opendaylight:params:xml:ns:yang:vpp-fib-table-management">x:ipv6</address-family>
                    </config>
                  </vpp-sr-policy>
                </policy>
                <policy>
                  <config>
                    <name>dead::1:2</name>
                    <color>2</color>
                    <endpoint>fd20::20</endpoint>
                  </config>
                  <color>2</color>
                  <endpoint>fd20::20</endpoint>
                  <candidate-paths>
                    <candidate-path>
                      <name>candidatePath1</name>
                      <provisioning-method>provisioning-method-config</provisioning-method>
                      <preference>1</preference>
                      <distinguisher>0</distinguisher>
                      <config>
                        <name>candidatePath1</name>
                        <provisioning-method>provisioning-method-config</provisioning-method>
                        <computation-method>path-explicitly-defined</computation-method>
                        <preference>1</preference>
                        <distinguisher>0</distinguisher>
                      </config>
                      <binding-sid>
                        <config>
                          <alloc-mode>explicit</alloc-mode>
                          <type>srv6</type>
                          <value>dead::1:2</value>
                        </config>
                      </binding-sid>
                      <segment-lists>
                        <segment-list>
                          <name>dead::1:2-1</name>
                          <config>
                            <name>dead::1:2-1</name>
                            <weight>4</weight>
                          </config>
                        </segment-list>
                      </segment-lists>
                    </candidate-path>
                  </candidate-paths>
                  <binding-sid>
                    <config>
                      <alloc-mode>explicit</alloc-mode>
                      <type>srv6</type>
                      <value>dead::1:2</value>
                    </config>
                  </binding-sid>
                  <vpp-sr-policy xmlns="urn:hc2vpp:params:xml:ns:yang:vpp-oc-srte-policy">
                    <config>
                      <policy-type>Default</policy-type>
                      <policy-behavior>SegmentRoutingHeaderInsert</policy-behavior>
                      <table-id>0</table-id>
                      <address-family xmlns:x="urn:opendaylight:params:xml:ns:yang:vpp-fib-table-management">x:ipv6</address-family>
                    </config>
                  </vpp-sr-policy>
                </policy>
                <policy>
                  <config>
                    <name>dead::2</name>
                    <color>3</color>
                    <endpoint>fd30::30</endpoint>
                  </config>
                  <color>3</color>
                  <endpoint>fd30::30</endpoint>
                  <candidate-paths>
                    <candidate-path>
                      <name>candidatePath1</name>
                      <provisioning-method>provisioning-method-config</provisioning-method>
                      <preference>1</preference>
                      <distinguisher>0</distinguisher>
                      <config>
                        <name>candidatePath1</name>
                        <provisioning-method>provisioning-method-config</provisioning-method>
                        <computation-method>path-explicitly-defined</computation-method>
                        <preference>1</preference>
                        <distinguisher>0</distinguisher>
                      </config>
                      <binding-sid>
                        <config>
                          <alloc-mode>explicit</alloc-mode>
                          <type>srv6</type>
                          <value>dead::2</value>
                        </config>
                      </binding-sid>
                      <segment-lists>
                        <segment-list>
                          <name>dead::2-1</name>
                          <config>
                            <name>dead::2-1</name>
                            <weight>3</weight>
                          </config>
                        </segment-list>
                      </segment-lists>
                    </candidate-path>
                  </candidate-paths>
                  <autoroute-include>
                    <config>
                      <metric-type>constant</metric-type>
                      <metric-constant>0</metric-constant>
                    </config>
                    <prefixes>
                      <config>
                        <prefixes-all>false</prefixes-all>
                      </config>
                      <prefix>
                        <ip-prefix>fd30::/127</ip-prefix>
                        <config>
                          <ip-prefix>fd30::/127</ip-prefix>
                        </config>
                      </prefix>
                    </prefixes>
                  </autoroute-include>
                  <binding-sid>
                    <config>
                      <alloc-mode>explicit</alloc-mode>
                      <type>srv6</type>
                      <value>dead::2</value>
                    </config>
                  </binding-sid>
                  <vpp-sr-policy xmlns="urn:hc2vpp:params:xml:ns:yang:vpp-oc-srte-policy">
                    <config>
                      <policy-type>Default</policy-type>
                      <policy-behavior>Encapsulation</policy-behavior>
                      <table-id>0</table-id>
                      <address-family xmlns:x="urn:opendaylight:params:xml:ns:yang:vpp-fib-table-management">x:ipv6</address-family>
                    </config>
                  </vpp-sr-policy>
                </policy>
              </policies>
            </traffic-engineering>
          </segment-routing>
        </config>